section {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit,1fr);
  grid-template-rows: 10% 90%;
}

header {
  grid-column: span 12;
}

main{
  grid-column: span 12;
}
