@import '../../../styles.scss';

.container{
  width: 300px;
  margin: auto;
  font-size: large;
  border: 1px solid rgba(0,0,0,0.8);
  padding: 10px;
  margin-top: 40px;
}

.inputContainer{
  width: 250px;
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}

input{
  border: 1px solid black;
}

h3{
  margin-top: 5px;
  margin-bottom: 5px;
}

.error-text{
  color: red;
  font-size: small;
}
